[submodule "include/JUCE"]
	path = include/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "include/wasmi-daisy"]
	path = include/wasmi-daisy
	url = https://github.com/jaffco/wasmi-daisy
[submodule "include/wamr"]
	path = include/wamr
	url = https://github.com/jaffco/wasm-micro-runtime
[submodule "include/wasm2c-runtime"]
	path = include/wasm2c-runtime
	url = https://github.com/jaffco/wasm2c-runtime
